.footer {
  background: #fff;
  position: relative;
  border-top: 2px solid #008e8a;
}

@media (max-width: 480px) {
  .footer {
    min-width: 100%;
  }
}

.footer_inner {
  padding: 60px 0;
  width: 1020px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .footer_inner {
    padding: 10vw 4vw;
    width: 100%;
  }
}

.footer_logo {
  width: 255px;
  margin: 0 auto 40px;
}

@media (max-width: 480px) {
  .footer_logo {
    width: 50vw;
    margin-bottom: 8vw;
  }
}

.footer_logo img {
  display: block;
  width: 100%;
}

.footer_text {
  line-height: 1.4;
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.7rem;
}

@media (max-width: 480px) {
  .footer_text {
    font-size: 1.3rem;
    margin-bottom: 7vw;
  }
}

.footer_navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_navi li:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 480px) {
  .footer_navi li:not(:last-child) {
    margin-right: 5vw;
  }
}

.footer_navi a {
  text-decoration: none;
  padding: 5px;
  color: #2d3e50;
  display: block;
}

.footer_navi a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .footer_navi a:hover {
    text-decoration: none;
  }
}

.footer .copy {
  text-align: center;
  padding: 10px 0;
  background: #000;
}

@media (max-width: 480px) {
  .footer .copy {
    padding: 10px 0 13px;
    line-height: 1.4;
  }
  .footer .copy span {
    display: block;
  }
}

.footer .copy p {
  margin-bottom: 0 !important;
}

.footer .copy img {
  vertical-align: bottom;
  position: relative;
  top: -4px;
  left: 14px;
}

@media (max-width: 480px) {
  .footer .copy img {
    margin: 2vw auto 0;
    display: block;
    position: static;
    width: 86px;
  }
}

.footer .copy a {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 480px) {
  .footer .copy a {
    font-size: 2vw;
  }
}


#index .footer,
body[id*="contents"] .footer {
  border-top: none;
}