@media (max-width: 480px) {
    .gnavi[data-mode="desktop-nav"] {
      display: none;
    }
}
  
.gnavi[data-mode="desktop-nav"] ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gnavi[data-mode="desktop-nav"] li:not(:last-child) {
    margin-right: 30px;
}

.gnavi[data-mode="desktop-nav"] a {
    color: #fff;
    padding: 5px;
    min-height: 32px;
    line-height: 1.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.gnavi[data-mode="desktop-nav"] a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    opacity: 0;
    height: 0;
    bottom: -15px;
    border: 1px solid #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media (max-width: 480px) {
    .gnavi[data-mode="desktop-nav"] a::after {
      content: none;
    }
}

.gnavi[data-mode="desktop-nav"] a:hover::after {
    right: 0;
    opacity: 1;
}

.gnavi[data-mode="desktop-nav"] a[href*="inquiry"] {
    background-image: -webkit-gradient(linear, left top, right top, from(#008e8a), to(#cd16fb));
    background-image: linear-gradient(90deg, #008e8a 0%, #cd16fb 100%);
    min-height: 100px;
    width: 160px;
}

.gnavi[data-mode="desktop-nav"] a[href*="inquiry"]::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    height: unset;
    bottom: 0;
    top: 0;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.25);
}
  
@media (max-width: 480px) {
    .gnavi[data-mode="desktop-nav"] a[href*="inquiry"]::after {
      content: none;
    }
}
  
.gnavi[data-mode="desktop-nav"] a[href*="inquiry"]:hover::after {
    opacity: 1;
}


@media (max-width: 480px) {
    .gnavi[data-mode="mobile-nav"] {
        border-top: inherit;
        border-bottom: inherit;
        padding: 15vw 5%;
        top: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-box-shadow: none;
                box-shadow: none;
        z-index: 2000;
        transform: translateX(100%);
    }
    .gnavi[data-mode="mobile-nav"]::after {
        background: url(/overlay.png) #000000;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.85;
    }
    .gnavi[data-mode="mobile-nav"] > ul {
        margin-bottom: 15px;
    }
    .gnavi[data-mode="mobile-nav"] li {
        margin-bottom: 15px;
    }
    .gnavi[data-mode="mobile-nav"] a {
        padding: 14px 10px;
        border-bottom: 1px dashed #fff;
        color: #fff;
        line-height: 1.8;
        display: block;
        font-size: 1.45rem;
        text-decoration: none;
        letter-spacing: 0;
        line-height: 1.3;
        font-weight: bold;
    }
    .gnavi[data-mode="mobile-nav"] a[href="inquiry.html"] {
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTEuOTA3cHgiIGhlaWdodD0iMjAuNDFweCIgdmlld0JveD0iMCAwIDExLjkwNyAyMC40MSI+DQo8cGF0aCBpZD0iYXJyb3ciIGZpbGw9IiNGRkZGRkYiIGQ9Ik00LjcxOSwyMC40MUgtMC4wMUw3LjE2NSwxMC4yTC0wLjAxMS0wLjAxaDQuNzI5bDcuMjAxLDEwLjIxTDQuNzE5LDIwLjQxeiIvPg0KPC9zdmc+") no-repeat right 10% center #000;
        background-size: 7px auto;
        border: none;
        margin-top: 30px;
        text-align: center;
        font-weight: normal;
        color: #fff;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }
    .gnavi[data-mode="mobile-nav"] .close {
        font-size: 1.5rem;
        background: -webkit-gradient(linear, left top, right top, from(#008e8a), to(#cd16fb));
        background: linear-gradient(90deg, #008e8a 0%, #cd16fb 100%);
        padding: 10px;
        width: 100%;
        color: #fff;
        text-align: center;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }
    .gnavi[data-mode="mobile-nav"] .close span {
        font-size: 1.5rem;
        font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
    }
}

@media (max-width: 480px) {
    .gnavi[data-state="open"] {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}