
#page {
  margin: 0 auto;
  width: auto;
  position: relative;
}

@media (max-width: 480px) {
  #page {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  #page[data-state="open"] {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: fixed;
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }
}

@media (max-width: 480px) {
  #drawer_underlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
}

#sp_navi {
  display: none;
}

@media (max-width: 480px) {
  #sp_navi {
    display: block;
  }
}

#sp_navi img {
  display: block;
  height: 13vw;
}

.txt_c {
  text-align: center;
}

@media (max-width: 480px) {
  .txt_c {
    text-align: left;
  }
}

.txt_r {
  text-align: right;
}

.only_pc {
  display: block;
}

@media (max-width: 480px) {
  .only_pc {
    display: none;
  }
}

.only_sp {
  display: none;
}

@media (max-width: 480px) {
  .only_sp {
    display: block;
  }
}

.tel a {
  color: #2d3e50;
  text-decoration: none;
  cursor: inherit;
  pointer-events: none;
}

@media (max-width: 480px) {
  .tel a {
    pointer-events: inherit;
  }
}

.everywhere_block {
  text-align: center;
  line-height: 2.2;
  margin: 0 auto 50px;
  max-width: 1020px;
}

@media (max-width: 480px) {
  .everywhere_block {
    text-align: left;
    line-height: 1.8;
    margin: 0 auto 30px;
    padding: 0 20px;
    max-width: 100%;
  }
}